{% extends "base.html" %}

{% block app_content %}

{% if choice != 'None' %}
    <div class="list-group">
        <h3 class="list-group-item list-group-item-success">You have currently chosen to offer {{choice}}</h3>
    </div>
    <a href = "{{url_for('main.funcChooseElectiveToOffer', elective_id = 'None')}}"> <button type="button" class="btn btn-danger btn-md"> Reset Choice </button></a>
{% else %}
    <div class="list-group">
        <h3 class="list-group-item list-group-item-warning"> You have not chosen an elective yet </h3>
    </div>
{% endif %}
<br>

<div class="row">
        <div class="col-md-12">
            {% for elective in electives %}
                {% include '_ChooseElectiveToOffer.html' %}
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}