{% extends "base.html" %}

{% block app_content %}

{% if choice != 'None' %}
    <h2> You have currently chosen to offer {{choice}} </h2>
    <br>
    <h4> <a href = "{{url_for('funcChooseElectiveToOffer', elective_id = 'None')}}" > Click here to reset your choice </a> </h4>
{% else %}
    <h2> You have not chosen to offer any electives yet </h2>
{% endif %}
<br>
<br>

<table class="table table-hover" style="table-layout: fixed">
    <tr>
        <th> Elective ID </th>
        <th> Elective Name </th>
        <th> Elective Description </th>
        <th>  </th>
    </tr>
{% for elective in electives %}
    {% include '_ChooseElectiveToOffer.html' %}
{% endfor %}
</table>
{% endblock %}